#__react-alert__ div div div {
    text-align: center;
    width: 40vw!important;
    height: 20vh!important;
    font-size: 1.4rem!important;
}



 @media screen and (max-width: 1300px) {
    #__react-alert__ div div div {
        width: 30rem!important;
        height: 12rem!important;
        font-size: 1.2rem!important;
    }
}

@media screen and (max-width: 760px) {
    #__react-alert__ div div div {
        width: 25rem!important;
        height: 10rem!important;
        font-size: 1.1rem!important;
    }
}

@media screen and (max-width: 528px) {
    #__react-alert__ div div div {
        width: 20rem!important;
        height: 8rem!important;
        font-size: 0.85rem!important;
    }
}