.backgroundOrders {
    padding: 10vh 4vw;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

span {
    font-size: 85%;
}


.card.card-body {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(220, 220, 220, 0.9);
    font-size: 0.9rem;
    
    padding: 6vh 2vw 6vh 2vw;
    
    opacity: 0;
    animation: fadeIn 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.card.card-body table {
    width: 80vw;
}

.card.card-body .container{
    align-items: center;
    justify-content: center;
    display: flex;
}

.container .spinner-border {
    width: 5rem; 
    height: 5rem; 
    border-width: 0.4rem;
    text-align: center; 
}


.card.card-body h1 {
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 3rem;
}



#button {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



#confirm_yes, #confirm_no {
    width: 40%;
    margin: 0 1vw 0;
    height: 8vh;
    
    font-size: 1.2rem;
}
#confirm_yes {
    background: red;
    color:white;
    font-size: 1.2rem;
    border: 2px solid red;
}

#confirm_yes:hover, .btn.btn.btn-danger:hover  {
    background: white;
    color:red;
}

#confirm_no:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}


@media screen and (max-width: 1320px) {

    .card.card-body table {
        width: auto;
    }
    .card.card-body {
        display:block;
    }

    span {
        font-size: 1.4rem;
    }

    #__react-alert__ div div div {
        width: 40vw!important;
        height: 15vh!important;
    }
    
}


@media screen and (max-width: 1065px) {

    #__react-alert__ div div div {
        height: 20vh!important;
    }

    .card.card-body {
        width: 100%;
    }

    .backgroundOrders {
        padding: 12vh 4vw;
        min-height: 60vh;
    }
}

@media screen and (max-width: 750px) {

    #__react-alert__ div div div {
        height: 30vh!important;
    }

    .card.card-body h1 {
        font-size: 2.2rem;
    }

    
}

