.container .spinner-border {
    width: 10vh; 
    height: 10vh; 
    border-width: 1vh;
    text-align: center; 
}



.profile.container {
    min-width: 60vh;
    width: 80%;
    border-radius: 0.5rem;
    padding: 6vh 0;
    background-color:rgb(204, 204, 204, 0.85);
    box-shadow: 0 0 3em black;
    display: flex;
    opacity: 0;
    animation: fadeIn 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}



.profile.container .container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vh;
    display: block;

}

.profile-info.container {
    border-right-style: solid;
    padding: 0 5vw;
}

.profile-info.container .container .row {
    text-align: left;
    margin: 3.5vh 0;
}


.profile-update.container {
    padding: 0 5vw;
}

.profile-update.container input {
    font-size: 1rem;
}

.profile-update .btn.btn-primary, .profile-update .btn.btn-secondary {
    margin: 2vh 1vw;
    border-radius: 0.5rem;
    font-size: 1.2rem;  
    padding: 0.8rem;
    width: 35%;
}

.profile-info.container .btn.btn-danger {
    width: 60%;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.profile-update.container .col .container {
    display: inline;
}

.profile.container img {
    width: 200px;
    height: 200px;
    margin-bottom: 2vh;
}


@media screen and (max-width: 1200px) {
    .profile.container {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .profile.container {
        display: block;
        width: 80%;
    }

    .profile-info.container {
        border-right-style: none;
        border-bottom-style: solid;
        padding-bottom: 5vh;
    }

    .profile-update.container {
        padding-top: 5vh;
    }


    .profile-update .btn.btn-primary, .profile-update .btn.btn-secondary, .profile-info.container .btn.btn-danger{
        font-size: 1rem;
        margin: 2vh 4vh;
    }
}

@media screen and (max-width: 700px) {
    .container .spinner-border {
        width: 8vh; 
        height: 8vh; 
        border-width: 0.8vh; 
    }

    .profile-update .btn.btn-primary, .profile-update .btn.btn-secondary, .profile-info.container .btn.btn-danger{
        margin: 2vh 2.5vh;
    }
} 

@media screen and (max-width: 600px) {
    .profile.container {
        width: 100%;
        margin: 6vh 0;
        padding: 6vh 4vh;
    }

    .background {
        padding: 10vh 0;
    }
} 

@media screen and (max-width: 400px) {
    .background {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .container .spinner-border {
        width: 5vh; 
        height: 5vh; 
        border-width: 0.8vh; 
    }

    .react-confirm-alert-body h1 {
        font-size: 1.2rem;
    }

    .react-confirm-alert-body h5 {
        font-size: 1rem;
    }
    
    .react-confirm-alert-body #confirm_yes,  .react-confirm-alert-body #confirm_no {
        width: 30%;
        margin: 0 1vw 0;
        height: 7vh;
        font-size: 0.9rem;
    }

    .profile-update .btn.btn-primary {
        margin: 2vh 3.5vh 2vh 0;
    }

    .profile-update .btn.btn-secondary {
        margin: 2vh 0 2vh 3.5vh;
    }

    .profile-update .btn.btn-primary, .profile-update .btn.btn-secondary{
        font-size: 0.8rem;
        width: 37%;
    }

}